<h1><u>Data Prep</u></h1>

### 1. Check for mixed data type columns in dataframe 

## Consistency Checks on Products Table

### 2. Finding missing observations

## Consistency Checks on Orders Table

### 3. Investigating Data

### 4. Mixed Data Type Check 

### 5. Missing Values Check 

### 6. Duplicate Check

In [20]:
## importing libraries & data 
import numpy as np 
import pandas as pd 
import os 



path = r'/Users/aahamoustafa/Desktop/Data Projects/Instacart Basket Analysis  12-2024'

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'),  index_col = False)

cols_list = [ 'order_id', 'user_id', 'order_number', 'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False, usecols = cols_list)

### 1. Mixed Data Type Column Check

In [9]:
## creating a data frame with mixed data types 

df_test = pd.DataFrame()

df_test['mix'] = ['a','b',1,True]

## to check whether a dataframe contains any mixed type columns 

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/_6/h3nvtrc54137rkl3n8zpfwnc0000gn/T/ipykernel_1500/325864014.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [10]:
## changing the column's data type 

df_test['mix'] = df_test['mix'].astype('str')

## Consistency Checks on Products Table

### 2. Finding Missing Observations

In [13]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
## viewing those missing values 

df_nan_prods = df_prods[df_prods['product_name'].isnull() == True]

df_nan_prods

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [24]:
## Addressing these missing values 

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

We filtered out the rows with product names that are missing and placed that into a cleaned dataframe

### 3. Finding duplicates

In [26]:
df_dups_prods = df_prods_clean[df_prods_clean.duplicated()]

df_dups_prods

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [ ]:
## addressing duplicates 

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

Dropped the duplicates and placed them into a new dataframe, at the same time we did not change the original products table as best practice

In [ ]:
## exporting products table 

df_prods_clean_no_dups.to_csv(os.path.join(path,'02 Data','Prepared Data', 'products_checked.csv'))

## Consistency Checks on Orders Table

### 3. Investigating Data

In [ ]:
## importing and investigating data 


## to avoid scientific notation with describe
pd.set_option('display.float_format', '{:.2f}'.format)

df_ords.describe()

Nothing in the data looks off by looking at the data here.

### 4. Checking For mixed data type columns

In [ ]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixed type columns

### 5. Missing values in orders table?

In [ ]:
df_ords.isnull().sum()

Missing values are 206209 in the days_since_prior_order. That is normal as every customer's first order will be NaN and we have 206209 different customers.

### 6. Check for Duplicates

In [ ]:
df_dups_ords = df_ords[df_ords.duplicated()]

df_dups_ords

No duplicates found

In [ ]:
## Exporting orders table 

df_ords.to_csv(os.path.join(path,'02 Data','Prepared Data', 'orders_checked.csv'))