<h1><u>Merging data</u></h1>

### 1. Investigating tables (info, shape, describe) 
### 2. Merging orders and orders_prior table

In [ ]:
## importing libraries & data 
import pandas as pd 
import numpy as np 
import os 

path = r'/Users/aahamoustafa/Desktop/Data Projects/Instacart Basket Analysis 11-2024'

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'),  index_col = False)

df_dep = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'departments.csv'),  index_col = False)

df_ords_prior = pd.read_csv(os.path.join(path,'02 Data', 'Original Data', 'orders_products_prior.csv'),  index_col = False)

### 1. Investigating Data

In [ ]:
df_ords_prior

In [19]:
df_ords_prior.shape

(32434489, 4)

In [21]:
df_ords.shape

(3421083, 7)

In [ ]:
df_ords_prior.describe()

### 2. Merging orders and orders prior table

In [41]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True) ## indicator is the _merge column 

df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [36]:
## checking counts of merged table 

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [45]:
## exporting merged table using pickle format 

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))