<h1><u>Deriving new variables</u></h1>

### 1. Defining price_label variable using user defined function
### 2. Using loc 
### 3. Using For loops 

## Exercise Tasks 

### 4. Busiest Day of the Week Column Using for loop 
### 5. Busiest Hour of the day Column Using for loop

In [67]:
## importing libraries & data 
import pandas as pd 
import numpy as np 
import os 

path = r'/Users/aahamoustafa/Desktop/Data Projects/Instacart Basket Analysis 11-2024'

df_ords_prods =  pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [13]:
df_ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [7]:
## using a sample so we dont have memory issues when derving variables 

df= df_ords_prods[:1000000]

### 1. Defining price_label variable using user defined function

In [45]:
def price_label(row): ## telling the function to look at each row
     if row['prices'] <= 5:
         return 'Low-range product'
     elif (row['prices'] > 5) and (row['prices'] <= 15):
         return 'Mid-range product'
     elif row['prices'] > 15:
         return 'High range'
     else: return 'Not enough data'

#### Now we have a function price_label that will apply a string to every row within the df

In [49]:
## assigning this function to a new column 
df_ords_prods['price_range'] = df_ords_prods.apply(price_label, axis = 1) ## axis = 1 refers to all the rows and axis = 0 refers to all the columns

In [51]:
## doing a count based on the ranges 

df_ords_prods['price_range'].value_counts(dropna = False)

price_range
Mid-range product    21860860
Low-range product    10126321
High range             417678
Name: count, dtype: int64

In [94]:
## what is the max price in the subset of your data?

df_ords_prods['prices'].max()

99999.0

### 2. Testing the loc function efficiency on the whole dataframe

In [71]:
df_ords_prods.loc[df_ords_prods['prices']> 15, 'price_range_loc'] = 'High range Product'
df_ords_prods.loc[(df_ords_prods['prices'] <= 15) & (df_ords_prods['prices'] > 5), 'price_range_loc'] = 'Mid range Product'
df_ords_prods.loc[df_ords_prods['prices'] <= 5, 'price_range_loc'] = 'Low range Product'

In [87]:
df_ords_prods['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range Product     21860860
Low range Product     10126321
High range Product      417678
Name: count, dtype: int64

#### By testing the loc and the user defined function, the loc function runs much faster since it applies the conditional filters before searching through the dataframe

### 3. If statements with For Loops

In [101]:
## Finding out the busiest day of the week 

df_ords_prods['order_day_of_week'].value_counts()

order_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [103]:
## creating a placeholder for our for loop output 

result = []
for value in df_ords_prods['order_day_of_week']: 
    if value == 0:
        result.append("Busiest Day")
    elif value == 4: 
        result.append("Least Busy")
    else:
        result.append("Regularly Busy")

In [109]:
## creating a new Busiest Day column

df_ords_prods['Busiest_day'] = result 
df_ords_prods['Busiest_day'].value_counts()

Busiest_day
Regularly Busy    22416875
Busiest Day        6204182
Least Busy         3783802
Name: count, dtype: int64

In [117]:
df_ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range Product,Regularly Busy
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range Product,Regularly Busy
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both,Low range Product,Regularly Busy
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,Low range Product,Regularly Busy
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low range Product,Regularly Busy

# Exercise Tasks

### 4. Change Busiest Day column (With 2 most busiest days & 2 most slowest days grouped)

In [122]:
result_new = []
for value in df_ords_prods['order_day_of_week']: 
    if value == 0 or value == 1:
        result_new.append("Busiest Days")
    elif value == 3 or value == 4: 
        result_new.append("Slowest Days")
    else:
        result_new.append("Regularly Busy")

In [124]:
df_ords_prods['Busiest_day'] = result_new 
df_ords_prods['Busiest_day'].value_counts()

Busiest_day
Regularly Busy    12916111
Busiest Days      11864412
Slowest Days       7624336
Name: count, dtype: int64

#### Busiest Days are Saturday & Sunday 
#### Slowest Days are Tuesday & Wednesday 
#### cross checking with our counts on the order_day_of_week we get accurate results

### 5. Busiest Hours of the day to address app freezing

In [134]:
## counts of orders per hour 

df_ords_prods['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

#### Per the info above, we will split orders under 3 ranges 
Most orders: Counts >= 2,000,000 <br>
(Top hours: 10, 11, 14, 15, 13, 12, 16, 9) <br>
Average orders: Counts between 800,000 and 2,000,000 <br>
(Hours: 17, 8, 18, 19, 20, 7) <br>
Fewest orders: Counts < 800,000 <br>
(Hours: 21, 22, 23, 6, 0, 1, 5, 2, 4, 3) <br>

In [146]:
ranges = [] 

for value in df_ords_prods['order_hour_of_day']: 
    if value in [10,11,14,15,13,12,16,9]:
        ranges.append("Most Orders")
    elif value in [17,8,18,19,20,7]: 
        ranges.append("Average Orders")
    else:
        ranges.append("Fewest Orders")

In [148]:
## creating a new busiest period of day column 
df_ords_prods['Busiest_period_of_day'] = ranges
df_ords_prods['Busiest_period_of_day'].value_counts()

Busiest_period_of_day
Most Orders       21118071
Average Orders     8567789
Fewest Orders      2718999
Name: count, dtype: int64

### Exporting the Data

In [156]:
df_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_latest.pkl'))